<% content_for :page_title, (t 'views.navigation.menu.tickets') %>

<div class="dashboard">
  <div id="stats" class="row main-column">
    <%= render "stats" %>
  </div>

</div>
<div class="x_panel main-column">
  <div class="x_title main-column">
    <h2><%= t('views.navigation.menu.tickets') %></h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-filters-link btn btn-filters">Filters</a></li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content main-column">
    <div class="row main-column table-selector filters-panel">
      <%= render "application/tickets/tickets/filters" %>
    </div>

    <div class="row main-column">
      <%= render 'table' %>
    </div>
    <div class="row main-column">
      <div id="paginator" class="pull-right">
        <%= will_paginate @objects, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>